@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,400;0,500;1,200&display=swap');


:root{
    --main-color: #027581;
    --color-dark: #1D2231;
    --text-grey: #8390A2;
    --dark: #343a40;
}
*{
    font-family: 'poppins',sans-serif;
    margin:0;
    padding:0;
    text-decoration: none!important;
    list-style: none;
    box-sizing: border-box;
}
*, ::before, ::after {
    box-sizing: border-box;
}

.main-deshbord-heding {
    padding: 17px 0;

}
.main-deshbord-heding a:hover{
    color:white!important;
}
.main-deshbord-heding{
    font-size:20px;
    color:white;
}
.main-deshbord-heding a{
    font-size:22px!important;
    color:white!important;
}
.main-des-u{
  height: 100%;
  left: 0;
  position: fixed;
  top:5px;
  width: 100%;
  display: grid;
  grid-template-rows: 3em auto;
}

/*header{
    grid-row: 1;  
    background-color: rgb(148, 142, 142);
    justify-self: center;
    align-self: center;
    width: 100%;
}*/

/*#myLinks {
  display: block;
}*/

.mobileview{
   position:relative;
   left:0px;
}
.mobileview-e{
   left:-252px;
}
.icon {
  background: black;
  display: block;
}
.box.expanded {
  margin-left:0px;
}
.box {
  margin-left: 0px;
}

.main-contan-i{
  grid-row: 2;
  overflow-y: auto;
}

.barheder {
  display: flex;
  align-items: center;
  width: 100%;
  background: #eee;
}

.barheder {
    display: flex;
    align-items: center;
    width: 100%;
    background: #eee;
}
.content {
    position: relative;
    height: 100%;
    padding: 60px 0 30px 0;
    margin: 0 auto 0 auto; */
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}
.header {
    width: 100%;
    position: fixed;
    top: 0;
    z-index:1;
    align-items: center;
    justify-content: space-between;
    background-color: var(--dark);
    transition: .5s;
}
.heder-dark {
    background:#1e3067;
    padding: 8px 10px;
    top: 0;
    left: 0;
    width: 100%;
}

.heder-bar-top{
    background:black;
    padding:10px;
    background:red;
}

.sidebar{
    height: 100%;
    width: 252px;
    position: fixed;
    top:53px;
    padding-bottom: 63px;
    z-index: 100;
   background:#142246;
    color: #fff;
    overflow-y: auto;
    transition:left 500ms;
}
.sidebar-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    padding: 0rem 1rem;
}
.sidebar-menu{
    padding: 1rem;
}
.sidebar li{
  margin-bottom: 0rem;
}

.sidebar a{
    color: #fff;
    font-size:.9rem;
}
.form-group {
  margin-bottom: 10px !important;
}.form-group label {
  font-size: 14px !important;
}
.main-content{
  position: relative;
  margin-left: 252px;
  /* margin-top: 30px; */
  transition: margin-left 500ms;
}
.navbar-icon-heder {
    display: inline-block;
    float: right;
    margin-top: 6px;
}
.nav-my-co {
  color:white;
}
.hover-colo a:hover{
  color:#4ccee8;
}

.nav-my-co:focus{
  color: #4ccee8;
}

.drop-hover-i li a:hover{
  color:black;
}
.navbar-icon-heder2{
  display: inline-block;
  float: right;
  margin-top:7px;
}
.navbar-icon-heder>ul{
    margin:0px;
    padding:0px;
}
.navbar-icon-heder2>ul {
    margin: 0px;
    padding: 0px;
    padding-right: 14px;
}
/*.navbar-icon-heder ul li i{
    color:white;
}*/
.navbar-icon-heder2>ul>li>i{
    color:white;
}
.navbar-icon-heder2>ul>li>a{
    color:white;
}
/*.navbar-icon-heder>ul>li>a{
    color:white;
}*/
.title-logo{
  color: #fff;
  font-size: 25px;
  text-transform: uppercase;
  font-weight: 900;
}
.title-logo span {
    color: #4ccee8;
}
.sidebar-btn {
    color: #fff;
    cursor: pointer;
    transition: 0.3s;
    transition-property: color;
    font-size: 24px;
    margin-top: 12px;
}
.sidebar-btn i:hover{
 color:#4ccee8;
}
.search-wrapper{
    display: flex;
    align-items: center;
}

.search-wrapper input{
   border: 0;
   outline: 0;
   padding: 1rem;
   height: 38px;
}

.social-icons{
    display: flex;
    align-items: center;
}

.social-icons span,
.social-icons div{
    margin-left: 1.2rem;
}

.social-icons div{
    height:38px;
    width: 38px;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(../img/artist1.jpg);
    border-radius: 50%;
}

.main-i {
    background: #f1f5f9;
    min-height: 100vh;
    padding: 0.1rem 2rem;
}

.mynave-listt ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
.mynave-listt li {
    position: relative;
    border-top: 1px solid #666;
    padding: 5px 15px;
}
.mynave-listt li:first-child {
 border-top: 0px solid #666;
}
.mynave-listt li .nav-icon {
    width: 25px;
}
.accordion a {
    color: white;
}
.mynave-listt, .mynave-listt a {
    color: #c9c9c9;
}
.mynave-listt li.has-dropdown {
    padding: 0;
}
.mynave-listt li.has-dropdown>.drop-submenu-r {
    padding: 5px 15px;
    color: #c9c9c9;   
}
.mynave-listt li.has-dropdown>.drop-submenu-r :hover{
  color:white;
}
.mynave-listt li>.drop-submenu-r {
    display: flex;
    align-items: center;
}
.mynave-listt li.has-dropdown .nav-text {
    flex-grow: 1;
}
.accordion-box.shown>.drop-submenu-r>.nav-text::before {
    transform: rotate(90deg);
}
.mynave-listt li.has-dropdown .nav-text:before {
    float: right;
    font-family: 'boxicons'!important;
    content: "\e9b2";
}
.accordion-box>.drop-submenu-r>.nav-text::before {
    float: right;
    transition: all ease 500ms;
}


 /*////acoding///*/

.accordion-box {
    overflow: hidden;
}
.accordion-box>.drop-submenu-r {
    padding: 10px 20px;
}
.accordion-box>.drop-submenu-r>.nav-text::before {
    float: right;
    transition: all ease 500ms;
}
.accordion-box.shown>.drop-submenu-r>.nav-text::before {
    transform: rotate(90deg);
}
.accordion-content {
    display: none;
    color:white;
}

.accordion-box.shown>.drop-submenu-r{
    color: #ffffff!important;
}
.mynave-listt ul ul li {
    padding-left: 30px;
}
.mynave-listt li {
    position: relative;
    border-top: 1px solid #666;
    padding: 5px 15px;
}
.mynave-listt ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.mynave-listt li>.drop-submenu-r {
    display: flex;
    align-items: center;
}
.accordion-box {
    overflow: hidden;
}
./*accordion a{
    color:white;
}
.accordion a:hover{  
 color: #43b0c6;
}*/
.breadcrumb {
    display: flex;
    flex-wrap: wrap;
    padding: 0.75rem 1rem;
    margin-bottom: 1rem;
    list-style: none;
    background-color: #e9ecef;
    border-radius: 0.25rem;
}
.titl-fo{
    font-weight: 700;
}

/* width */
::-webkit-scrollbar {
  width:10px;
}

/* Track */
::-webkit-scrollbar-track {
  /*box-shadow: inset 0 0 5px grey; */
  background:#f1f5f9;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background:#536497;
}

/* Handle on hover */
/*::-webkit-scrollbar-thumb:hover {
  background:rgb(140 149 157);
}*/

/*login page////////////////////////*/

.body-login-pagr {
  font-family: "Poppins", sans-serif;
  height: 100vh;
}

.card-header-f {
  padding: 1.75rem 1.25rem;
    margin-bottom: 0;
    background-color: rgba(0, 0, 0, 0.03);
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}
.card-header-f h2{
  font-size:16px;
}
.formp-body label {
    float: left;
}
.formp-body{
    padding:32px;
}
.customcontrolche {
    height: 15px;
}
.customcontrolche input{
   float:left;
}
.customcontrolche label {
    float: left;
    padding-left: 11px;
    position: relative;
    top: -3px;
    font-size:14px;
}

.form-controllrt {
    display: block;
    width: 100%;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    outline: none;
    line-height: 1.5;
    margin-bottom: 24px;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.main-form-slide{
  display: flex;
  align-items: center;
  flex-direction: column; 
  justify-content: center;
  width: 100%;
  min-height: 100%;
  padding: 20px;
}

#formmy-con {
  -webkit-border-radius: 10px 10px 10px 10px;
  border-radius: 10px 10px 10px 10px;
  background: #fff;
  padding: 30px;
  width: 90%;
  max-width: 450px;
  position: relative;
  padding: 0px;
  -webkit-box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
  box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
  text-align: center;
}

#form-mt-footer {
  background-color: #f6f6f6;
  border-top: 1px solid #dce8f1;
  padding: 25px;
  text-align: center;
  -webkit-border-radius: 0 0 10px 10px;
  border-radius: 0 0 10px 10px;
}


/* Simple CSS3 Fade-in-down Animation */
.fadeInDown {
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.bars{
    width: 20px;
    height: 2px;
    background: white;
    margin: 4px 0;
    transition: 0.4s;
    border-radius: 6px;
}
.color-bars{
   background:#4ccee8;
}

.canvas-chart-i{
  width: 100%;
  max-width:500px;
}
.overly-main{
  display:none;
}

/*addpagr//*/
.recent {
    margin-top: 3rem;
    margin-bottom: 3rem;
    box-shadow: 0 11px 24px -11px;
}
.activiti-card, .summery-card {
    background: #fff;
    border-radius: 7px;
}
.activiti-card .search-top-table {
    color: var(--text-grey);
    padding:1rem;
}
.table-responsiveima {
    overflow-x: auto;
    padding: 0 17px 52px 17px;
}
.activiti-card table {
    width: 100%;
    border-collapse: collapse;
}
.activiti-card thead {
    background: #1e3067d1;
    text-align: left;
}
.activiti-card tbody tr:nth-child(even) {
    background: #f9fafc;
}
.activiti-card tbody{
  overflow:auto;
}
.activiti-card th, td {
    font-size: .9rem;
    padding: 1rem .5rem;
    color: var(--color-dark);
    
}
.activiti-card td input{
  margin-right: 17px;
}
.the-colo-table th  input{
 margin-right: 17px; 
}

.table-responsiveima tbody, td, tfoot, th, thead, tr {
   
    border-bottom: solid .1px #1e3067;
}

.search-input-table {
    display: block;
    width: 100%;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
  box-shadow: 0 3px 3px;
    outline: none;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.table-head-right{
  text-align: right;

}
.table-head-right button{
    color: #fff;
    width:78px;
  box-shadow: 0 3px 5px 0 rgb(210 89 100);
    border-radius:4px;
    background-color:#bc0819ab;
    padding: 4px;
    border-color: #dc3545;
}

.table-head-right button:focus {
    color: #fff;
    background-color: #bb2d3b;
    border-color: #b02a37;
}
.the-colo-table tr th{
  color:white!important;
}

.first-title-topadd {
    margin-top: 3rem;
    margin-bottom: 3rem;
    background: #ffff;
    border-radius: 7px;
}
.title-left-top-table{
  padding:1rem;
}
.title-left-top-table small span{
  color:grey;
}
.title-left-top-table small i{
 padding: 0 4px;
 color: #0e2a80;
}
.title-left-top-table h4 {
    color: grey;
    font-size: 27px;
    font-family: sans-serif;
}
.buton-add-new {
    text-align: right;
    padding: 30px 13px;
}
.buton-add-new button {
    color: #fff;
    width: 78px;
    border-radius: 4px;
    background-color: #213d91;
    padding: 4px;
    border-color: #1c45c2;
}
.buton-add-new button:focus {
    color: #fff;
    background-color: #23325d;
    border-color: #233670;
}
.main-addpage-main{
    margin-top: 3rem;
    margin-bottom: 3rem;
    background: #ffff;
    border-radius: 7px;
}
.form-contrinpuol {
    display: block;
    width: 100%;
    padding:6px 2px;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    border: 1px solid #ced4da;
    outline:none;
    border-radius: .25rem;
}
.form-selectcontrinpuol {
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    outline:none;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    border: 1px solid #ced4da;
    border-radius: .25rem;
}
.main-form-deco{
  padding: 1rem;
}
.mbinput{
  margin-bottom:2rem;
}
.right-form-img {
    padding-top: 19px;
    width: 250px;
    height:250px;
    float: right;
    padding-right: 15px;
}
.right-form-img img {
    border: solid 1px #1e3067;
    border-radius: 22px;
    height:100%;
    width:100%;
    object-fit: cover;
}
.right-form-img button {
    color: #fff;
    width:99%;
    border-radius: 4px;
    background-color: #213d91;
    padding: 4px;
    border-color: #1c45c2;
    margin-top: 15px;
}
.table_img{
  border:1px solid #000;
  border-radius: 8px;
  padding: 2px;
  margin-bottom: 2px;
}
.service_history_title{
  font-weight: bold;
}