@media only screen and (max-width: 1200px){
    

} 

@media (min-width:981px) and (max-width:1025px){
 .left {
    font-size: 55px;
  }
  .right {
    font-size: 55px;
  }
  .top-button-header ul li a {
    padding: 0 10px;
  }
  .color-input-ti {
    color: white!important;
    font-size: 15px;
  }
  .slider-main-inpu-fa {
    text-align: center;
    width: 70%;
    margin: auto;
    padding: 3rem;
}
}
@media (min-width:768px) and (max-width:993px){
    .faq-hedding {
    width: 100%;
    background: #00afefb0;
    padding: 0;
}
    .slider-main-inpu-fa {
    text-align: center;
    width: 60%;
    margin: auto;
    padding: 2rem 0;
}
   
    .top-button-header ul li {
    display: inline-block;
    text-align: center;
    margin-top: 4px;
}
    .cardtestim {
    max-width: 100%;
    margin-left: 15px;
    margin-right: 15px;
}
    .display-n-mobile{
      display:none;
    }
    .display-teble-view{
        display: block;
    }
    .menu-top-header{
      display: none;
    }
   .sidebar-btn {
    padding-top: 5px;
  }
  .sidebar-btn {
    color: #fff;
    cursor: pointer;
    transition: 0.3s;
    transition-property: color;
    font-size: 24px;
    margin-top: 14px;
    float: right;
}

.bars {
    width: 20px;
    height: 2px;
    background:black;
    margin: 4px 0;
    transition: 0.4s;
    border-radius: 6px;
}
.sidebar {
    height: 100%;
    width: 252px;
    position: fixed;
    top:0px;
    padding-bottom: 63px;
    z-index: 100;
    background:#0a6282;
    color: #fff;
    overflow-y: auto;
    transition: left 500ms;
}
.mobileview {
    left: -252px;
}
.mobileview-e {
    left: 0!important;
}
.overly-main-d {
    display: block;
}
.overly-main {
    width: 100%;
    height: 100vh;
    background:#14224652;
    position: fixed;
    top:0px;
     left: 0; 
    right: 0; 
    z-index: 1;
     bottom: 0;
}
.sidebar{
  display:block;
}
.menu-mobil-vew ul li {
    padding: 10px;
    border-bottom: solid 1px;
}
.menu-mobil-vew ul li:last-child {
  border-bottom: none;
}
.menu-mobil-vew ul li a{
  color:white;
}
.menu-mobil-vew{
 padding-bottom:30px;
}
.color-bars {
    background: #4ccee8;
}

.bar1, .bar2, .bar3 {
    width: 29px;
    height: 4px;
 background: -webkit-linear-gradient(right,#2c75ba 66%,#046ccead -22%);
    margin: 4px 0;
    transition: 0.4s;
    border-radius: 6px;
}
.show-nav .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);transform: rotate(-51deg) translate(-4px, 4px);
}
.show-nav .bar2 {
    opacity: 0;
}
.show-nav .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
}
.formp-body {
   padding:0;
}
.carousel-item img {
    width: 100%;
    height: 164px;
    object-fit: cover;
}
.carousel-indicators li {
    width:11px;
    height:11px;
}

.carousel-inner .left {
    top:28%;
    font-size: 55px;
}
.carousel-inner .right {
    top:28%;
    font-size: 55px;
}
.card-header-f h2 {
    font-size: 26px;
    padding: 20px 0 7px;
}
.button-main-plan button {
    width: 100%;
}
.top-selling {
    text-align: center;
    padding: 2rem 0;
}
.top-selling h2 {
    font-size: 25px;
    color: #3f6895;
}
.main-phonsideimg {
    height: 211px;
    padding: 36px 19px;
}
.top-se-bg {
    background: #d1dde8;
    padding-bottom: 25px;
}
.hedding-how h2 {
    font-size: 32px;
}
.howdusitwork {
    padding-bottom: 18px;
}
.faq-in {
    padding: 2rem 0;
    padding-bottom: 52px;
}
#wrapper {
    margin-top: 32px;
}
.accordion-box>* {
    font-size: 13px;
}
.left-side-img {
    width: 100%;
    float: left;
}

.main-testimonial-crd {
    margin-left: 15px;
    margin-right: 15px;
}
.hedding-allbred {
    text-align: center;
    padding: 3rem 0;
}
.hedding-allbred {
    text-align: center;
    padding: 3rem 0;
}
.footer-control-pd hr:before {
    left: 0;
    top: 25px;
    right: 60%;
    margin-right: 10px;
}
.footer-control-pd hr:after {
    right: 0;
    top: 25px;
    left: 60%;
    margin-left: 10px;
}
.footer-menu ul li {
    display: inline-block;
    padding: 10px 7px 2px 7px;
}
.footer-control-pd h4 {
    text-align: center;
    font-size: 15px;
    color: #6e6c6c;
    padding-top: 21px;
}
.testimonial {
    padding: 0;
    background: #d6e8f7;
    padding-bottom: 68px;
}
.slick-next {
    right: -19px;
}
.about-page-con {
    padding: 2rem 0;
}
.mycard-plan {
    box-shadow: 0 10px 13px -5px black;
    margin-bottom: 30px;
}
.login-costmer-right-form {
    padding: 1rem;
    padding-top: 47px;
    padding-right: 0;
    padding-left: 0;
    padding-bottom: 49px;
}
}

@media (min-width:320px) and (max-width: 767px){
    .logo-top-left {
    width: 118px;
    }
    .privace-h2 h2{
     font-size:24px;  
     }
     .privace-h2 p{
        font-size:14px;
     }
   .privace-police-main h2 {
    font-size: 20px;
   }
    .card-contect {
    padding: 2rem 16px;
    margin-top: 72px;
    background: white;
   }
  .contact {
    background: #7dc5fa2b;
    /* margin-bottom: -9px; */
    padding-bottom: 30px;
   }

    .form-input {
    width:100%;
   }
   .form-input-r {
    width: 100%;
   }
   .boxed-btn {
    padding: 10px 33px;
    width: 100%;
    margin-top:18px;
   }
    .form-innar-con h3 {
        font-size: 25px;
    }
     .backcolo-about h1 {
    font-size: 33px;
    }
    .about-page-con h2 {
    font-size:18px;
    font-family: sans-serif;
   }
   .about-page-con {
    padding: 2rem 0;
    }
    .my-con-topselling{
        padding:1px;
    }
   .display-show-mobile {
    display: block;
    text-align: center;
    margin-top: 22px;
    margin-bottom: 7px;
    padding-bottom: 21px;
   border-bottom: solid #b3c2c6a8 3px;
   }
    .display-show-mobile ul li {
    background:var(--darkblue);
    color: white;
    padding: 9px!important;
    border: solid 2px var(--darkblue)!important;
    display: inline-block;
    font-size: 14px;
}
    .display-n-mobile{
      display:none;
    }
    .menu-top-header{
      display: none;
    }
   .sidebar-btn {
    padding-top: 5px;
  }
  .sidebar-btn {
    color: #fff;
    cursor: pointer;
    transition: 0.3s;
    transition-property: color;
    font-size: 24px;
    margin-top: 9px;
    float: right;
}

.bars {
    width: 20px;
    height: 2px;
    background:black;
    margin: 4px 0;
    transition: 0.4s;
    border-radius: 6px;
}
.sidebar {
    height: 100%;
    width: 252px;
    position: fixed;
    top:0px;
    padding-bottom: 63px;
    z-index: 100;
    background: #0a6282;
    color: #fff;
    overflow-y: auto;
    transition: left 500ms;
}
.mobileview {
    left: -252px;
}
.mobileview-e {
    left: 0!important;
}
.overly-main-d {
    display: block;
}
.overly-main {
    width: 100%;
    height: 100vh;
   background: #14224652;
    position: fixed;
     left: 0; 
    right: 0; 
    z-index: 1;
     bottom: 0;
}
.sidebar{
  display:block;
}
.menu-mobil-vew ul li {
    padding: 10px;
    border-bottom: solid 1px;
}
.menu-mobil-vew ul li:last-child {
  border-bottom: none;
}
.menu-mobil-vew ul li a{
  color:white;
}
.menu-mobil-vew{
 padding-bottom:30px;
}
.color-bars {
    background: #4ccee8;
}

.bar1, .bar2, .bar3 {
    width: 29px;
    height: 4px;
 background: -webkit-linear-gradient(right,#00afef 66%,#f58634 -22%);
    margin: 4px 0;
    transition: 0.4s;
    border-radius: 6px;
}
.show-nav .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);transform: rotate(-51deg) translate(-4px, 4px);
}
.show-nav .bar2 {
    opacity: 0;
}
.show-nav .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
}
.formp-body {
   padding:0;
}
.carousel-item img {
    width: 100%;
    height: 164px;
    object-fit: cover;
}
.carousel-indicators li {
    width:11px;
    height:11px;
}

.carousel-inner .left {
    position: absolute;
    left:0px;
    padding-left: 0;
    color: #2394d4;
    font-size: 33px;
}
.carousel-inner .right {
    position: absolute;
    right:0px;
    padding-left:0;
    color: #2394d4;
    font-size: 33px;
}
.card-header-f h2 {
    font-size: 26px;
    padding: 20px 0 7px;
}
.button-main-plan button {
    width: 100%;
}
.top-selling {
    text-align: center;
    padding: 2rem 0;
}
.top-selling h2 {
    font-size: 25px;
    color: #3f6895;
}
.main-phonsideimg {
    height: 211px;
    padding: 36px 19px;
}
.top-se-bg {
    background: #d1dde8;
    padding-bottom: 25px;
}
.hedding-how h2 {
    font-size: 32px;
}
.howdusitwork {
    padding-bottom: 18px;
}
.faq-in {
    padding: 2rem 0;
    padding-bottom: 52px;
}
#wrapper {
    margin-top: 32px;
}
.accordion-box>* {
    font-size: 13px;
}
.left-side-img {
    width: 100%;
    float: left;
    height: 288px;
}

.main-testimonial-crd {
    margin-left: 0px;
    margin-right: 0px;
}
.hedding-allbred {
    text-align: center;
    padding: 3rem 0;
}
.hedding-allbred {
    text-align: center;
    padding: 3rem 0;
}
.footer-control-pd hr:before {
    left: 0;
    top: 25px;
    right: 69%;
    margin-right: 10px;
}
.footer-control-pd hr:after {
    right: 0;
    top: 25px;
    left: 69%;
    margin-left: 10px;
}
.footer-menu ul li {
    display: inline-block;
    padding: 10px 7px 2px 7px;
}
.footer-control-pd h4 {
    text-align: center;
    font-size: 15px;
    color: #6e6c6c;
    padding-top: 21px;
}
.main-form-slide {
    padding: 20px 0;
}
.formp-body-m {
    padding: 13px;
}
.customcontrolche label {
    font-size: 13px;
}
.customcontrolche label {
    font-size: 15px;
    padding-top: 1px;
}
.my-sign-upi a{
    width:100%;
}
.mycard-plan {
    box-shadow: 0 10px 13px -5px black;
    /* margin-top: 13px; */
    margin-bottom: 30px;
}
.privace-police-main {
    padding: 3rem 1px;
}
.h-bg-c-t {
    background: #fff;
    width: 100%;
    padding: 1rem 0;
}
.my-btn-co a{
 color:var(--darkblue); 
 font-size:14px;
}
.slider-main-inpu-fa {
    text-align: center;
    width: 100%;
    margin: auto;
    padding:0;
}
   .faq-hedding h3 {
    color: white;
    font-size: 25px;
    font-weight: 600;
    font-family: josefin sans,sans-serif;
    padding-top: 32px;
}
.faq-hedding input {
    color: white;
    width: 90%;
    border: none;
    outline: none;
    color: black;
    padding-left: 17px;
    border-radius: 27px;
    height: 44px;
    margin-top: 33px;
    margin-bottom: 18px;
}
.faq-hedding {
    width: 100%;
    padding-bottom: 8px;
    background: #00afefb0;
}
.login-costmer-content {
    padding: 0;
    padding-left: 0;
    position: relative;
    margin-top: 35px;
}
.lotgin-costmer-h2 h2 {
    font-size: 24px;
    font-weight: 600;
    color: #554c4c;
}
.login-costmer-content p {
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 600;
    color: grey;
}
.img-banner-costmer {
    width: 118px;
    height: 167px;
    position: absolute;
    top:13%;
    right: 0;
}
.login-costmer-right-form {
    padding: 1rem;
    padding-top: 47px;
    padding-right: 0;
    padding-left: 0;
    padding-bottom: 49px;
}
.backcolo-about {
    width: 100%;
    background: #00afefb0;
    padding: 0;
    text-align: center;
    color: white;
    padding-bottom: 10px;
    padding-top:17px;
}
.form-mobildetalis {
    background: var(--lightblue);
    padding-bottom:0px;
}
}