<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>APR SERvice</title>
    </head>
    <body>
        <div style="max-width: 800px; margin: auto; border: 1px solid #ccc;">
            <!-- <div style="float: left;background: #ebebeb; text-align: center; font-size: 48px; padding: 30px 15px;">
                
            </div> -->
            <div style="background: #ebebeb; text-align: center; font-size: 48px; padding: 30px 15px;">
                <img style="float: left;" src="{{ url('images/setting/logo/'.$setting->logo) }}" alt="" width="100px">
                <div style="float: left; padding-left: 20px;">{{ $reciever }}</div> 
                <div style="float: right; font-size: 15px;text-align: right;">
                    <img src="{{ url('images/email.png') }}" alt="" style="width:30px;margin-right: 5px;margin-top: 2px;"> <a href="mailto:{{ $setting['email'] }}">{{ $setting['email'] }}</a><br>
                    <img src="{{ url('images/telephone.png') }}" alt="" style="width:30px;margin-right: 5px;margin-top: 2px;"> <a href="tel:{{ $setting['mobile'] }}">{{ $setting['mobile'] }}</a>
                </div>
                <div style="clear: both;"></div>
            </div>

            <div style="padding: 15px">
                Dear Admin,<br>
                
                <h3>Your service ID : #APRSEV000001</h3>
                <p>Find details as below:</p>
                <table style="border-collapse: collapse; width: 100%;">
                    <tr>
                        <td style="border: 1px solid #ccc; padding:5px" colspan="2">
                            <span style="font-weight: bold;">Service ID : </span> #APRSEV000001
                        </td>
                    </tr>
                    <tr>
                        <!-- <th style="border: 1px solid #ccc; text-align: left;">Txn_id</th>
                        <td style="border: 1px solid #ccc;">#8789786</td> -->
                        <td style="border: 1px solid #ccc; padding:5px">
                            <span style="font-weight: bold;">Txn_id : </span> # {{ $insurance['txn_id'] }}
                        </td>
                        <td style="border: 1px solid #ccc; padding:5px">
                            <span style="font-weight: bold;">Date : </span> {{ $insurance['created_at'] }}
                        </td>
                    </tr>
                    <tr>
                        <td style="border: 1px solid #ccc; padding:5px">
                            <span style="font-weight: bold;">Name : </span> {{ $insurance['name'] }}
                        </td>
                        <td style="border: 1px solid #ccc; padding:5px">
                            <span style="font-weight: bold;">Email : </span> {{ $insurance['email'] }}
                        </td>
                    </tr>
                    <tr>
                        <td style="border: 1px solid #ccc; padding:5px">
                            <span style="font-weight: bold;">Mobile No. : </span> {{ $insurance['mobile'] }}
                        </td>
                        <td style="border: 1px solid #ccc; padding:5px">
                            <span style="font-weight: bold;">Aadhar No. : </span> {{ $insurance['aadharcard'] }}
                        </td>
                    </tr>
                    <tr>
                        <td style="border: 1px solid #ccc; padding:5px">
                            <span style="font-weight: bold;">Plan Brand : </span> {{ $insurance['plan_brand'] }}
                        </td>
                        <td style="border: 1px solid #ccc; padding:5px">
                            <span style="font-weight: bold;">Plan Price : </span> ₹{{ $insurance['plan_price'] }}
                        </td>
                    </tr>
                    <tr>
                        <td style="border: 1px solid #ccc; padding:5px">
                            <span style="font-weight: bold;">IMEI number : </span> {{ $insurance['imei_number1'] }}
                        </td>
                        <td style="border: 1px solid #ccc; padding:5px">
                            <span style="font-weight: bold;">IMEI number : </span> {{ $insurance['imei_number2'] }}
                        </td>
                    </tr>
                    <tr>
                        <td style="border: 1px solid #ccc; padding:5px">
                            <span style="font-weight: bold;">Payment : </span> ₹{{ $insurance['payment'] }}
                        </td>
                        <td style="border: 1px solid #ccc; padding:5px">
                            <span style="font-weight: bold;">Payment Mode : </span> {{ $insurance['payment_mode'] }}
                        </td>
                    </tr>
                    <tr>
                        <td style="border: 1px solid #ccc; padding:5px" colspan="2">
                            <span style="font-weight: bold;">Payment Status : </span> {{ $insurance['payment_status'] }}
                        </td>
                    </tr>
                    
                </table>
                <p>&nbsp;</p>
                <p>
                    Thanks &amp; Regards<br>
                    {{ $sender }}
                </p>
            </div>
            <div style="background: #ebebeb; text-align: center; padding: 10px 0; font-size:17px">
            <a href="{{ url('/page/term-condition') }}">Terms & conditions</a>
            </div>
        </div>
    </body>
</html>
